BasedOnStyle: Google
Language: Cpp
ColumnLimit: 80
IndentWidth: 4
PointerAlignment: Right
UseTab: Never
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
BreakBeforeBinaryOperators: NonAssignment
ReflowComments: true
AlwaysBreakTemplateDeclarations: Yes
AllowAllParametersOfDeclarationOnNextLine: true
IncludeBlocks: Merge
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
